<table class='table'>
      <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
      <tr>
       <th>follow</th>
      </tr>
      <tr>
       <th><%= link_to "フォロー", follows_user_path(user.id) %><%= user.followings.count %></th>
      </tr>
      <tr>
       <th><%= link_to "フォロワー", followers_user_path(user.id) %><%= user.followers.count %></th>
      </tr>
      <% if current_user != @user%>
        <% if user.followed_by?(current_user) %>
      <tr>
          <th><%= link_to "フォロー済", user_relationships_path(user.id), method: :delete %></th>
        <% else %>
          <th><%= link_to "フォローする", user_relationships_path(user.id), method: :post %></th>
      </tr>
        <% end %>
      <% end %> 
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>